.game_list
{
    list-style-type:none
}

.social_list
{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.li_social
{
    float: left;
    padding: 6px;
}

.posts_list
{
    list-style-type:none;
}