.game_list
{
    display: flex;
    flex-flow: row wrap;
    list-style-type:none
}

.game_thumb
{
    margin: 0 0 15px 20px
}

.social_list
{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.li_social
{
    float: left;
    padding: 6px;
}

.posts_list
{
    list-style-type:none;
}
