@font-face
{
    font-family:"Lato-bold";
    src: url("../fonts/Lato/Lato-Medium.ttf");
}

@font-face
{
    font-family:"Lato";
    src: url("../fonts/Lato/Lato-Light.ttf");
}

body
{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
    font-family:'Lato', sans-serif;
    background: #90E0EF;
}

.banner 
{
    position: fixed;
    background: #03045E;
    background-size: cover;
    width: 30%;
    height: 100%;
    padding-top: 20px;
    float: left;
    z-index: 100;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #90E0EF;
}

.banner .about
{
    display: grid;
    padding: 10px;
    padding-left: 40px;
    width: calc(100% - 60px);
    align-content: center;
    justify-content: center;
}

.banner .about img
{
   width: 60%;
   padding-left: 50px;
   border-radius: 30%;
   resize: none;
   float: left;
   text-align: center;
}

.banner .about h1
{
    font-weight: bold;
    width: 100%;
    float: left;
    text-align: center;
    color: whitesmoke;
    font-family:'Lato-bold', sans-serif;
}

.banner .about p
{
    text-align: justify;
    float: left;
    margin: 0;
    color: whitesmoke;
}

.banner .social_list
{
    margin-left: auto;
    margin-right: auto;

    width: calc(64*4px);
    height: 64px;
}

.banner .social_list .li_social i.fas, i.fab, i.far
{
    position: relative;
    float: left;
    width: 48px;
    padding: 8px;
    color: white;
}


.content
{
    position: relative;
    width: 70%;
    min-height: 100%;
    float: right;
}

/* GAMES */

.games
{
	position: absolute;
    padding-left : 40px;
	left: 0;
	width: 95%;
	min-height: 100%;
	float: left;
	overflow-y: visible;
	background:#90E0EF;
}

.content .games h1
{
    color: #0077B6;
    font-family:'Lato-bold', sans-serif;
}

.games .game_list .list_item
{
    width: 320px;
    height: 256px;
    position: relative;
    margin: 0 1% 1% 0;
    float: left
}

.games .game_list .list_item img
{
    width: 100%;
}

@media(max-width: 900px) {
    .banner { position: relative; width: 100%; height: 700px}
    .content { position: relative; width: 100%}
}