{% include head.html %}
    <div class="banner">
      <div class="about">
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <h1>Barbiche</h1>
        <p>I am a French software developer, based in Lyon.</p>
        <p>As an engineer, I make games, graphics, systems and shiny strange things.</p>
        <p>Besides, I do music, pastry, I drink beers and I get lost in strange places.</p>
        <div class="social_list">
          <div class="li_social">
              <a href="mailto:guethomas3@gmail.com"><i class="fas fa-envelope {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </div>
          <div class="li_social">
              <a href="https://github.com/Barbiche"><i class="fab fa-github {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </div>
          <div class="li_social">
              <a href="https://twitter.com/theBarbiche"><i class="fab fa-twitter {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </div>
          <div class="li_social">
            <a href="../assets/files/resume.pdf"><i class="far fa-file {{ site.social_icon_size | default: fa-3x}}"></i></a> 
        </div>
        </div>
      </div>
    </div>
    <div class="content">
      {{content}}
    </div>
  </body>
</html>
