{% include head.html %}
    <div class="banner">
      <div class="social">
        <a class="twitter" href="https://twitter.com/theBarbiche"><i class="fab fa-twitter {{ site.social_icon_size | default: fa-3x}}"></i></a>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h1>Salut</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="social_list">
            {% for item in site.data.navigation %}
          <li>
              <a href="{{ item.link }}"}>{{item.name}}</a>
          </li>
          {% endfor %}
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <ul class="social_list">
          <li class="li_social">
              <a href="mailto:guethomas3@gmail.com"><i class="far fa-envelope {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </li>
          <li class="li_social">
              <a href="https://github.com/Barbiche"><i class="fab fa-github {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </li>
          <li class="li_social">
              <a href="../assets/files/resume.pdf"><i class="far fa-file {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </li>
          <li class="li_social">
              <a href="https://twitter.com/theBarbiche"><i class="fab fa-twitter {{ site.social_icon_size | default: fa-3x}}"></i></a> 
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
